version: 1

sources:

  - sharepoint_dev:
      class: Sharepoint
      credentials:
        site: "<TENANT_NAME>.sharepoint.com"
        username: "<USERNAME>"
        password: "<PASSWORD>"

  - supermetrics:
      class: Supermetrics
      credentials:
        api_key: "<API_KEY>",
        user: "<USER>",
  
  - exchange_rates_dev:
      class: ExchangeRates
      credentials:
        api_key: "<API_KEY>"

  - redshift_dev:
      class: RedshiftSpectrum
      credentials:
        aws_access_key_id: "my_aws_access_key"
        aws_secret_access_key: "my_aws_secret_access_key"
        region_name: "eu-west-1"
        credentials_secret: "my_aws_secret_with_redshift_creds"
        iam_role: "arn:aws:iam::12345678910:role/my_redshift_role"

  - s3_dev:
      class: S3
      credentials:
        aws_access_key_id: "my_aws_access_key"
        aws_secret_access_key: "my_aws_secret_access_key"
        region_name: "eu-west-1"

  - trino_dev:
    class: Trino
    credentials:
      host: localhost
      port: 8080
      user: "my_username"
      password: "my_password"
      catalog: "my_catalog"
      http_scheme: "http"
      verify: False

  - minio_dev:
      class: MinIO
      credentials:
        endpoint: localhost
        access_key: "my_access_key"
        secret_key: "my_secret_key"
        bucket: my_bucket
        secure: True
        verify: False