version: 1

sources:

  - sharepoint_dev:
      class: Sharepoint
      credentials:
        site: "<TENANT_NAME>.sharepoint.com"
        username: "<USERNAME>"
        password: "<PASSWORD>"

  - supermetrics:
      class: Supermetrics
      credentials:
        api_key: "<API_KEY>",
        user: "<USER>",

  - exchange_rates_dev:
      class: ExchangeRates
      credentials:
        api_key: "<API_KEY>"

  - redshift_dev:
      class: RedshiftSpectrum
      credentials:
        aws_access_key_id: "my_aws_access_key"
        aws_secret_access_key: "my_aws_secret_access_key"
        region_name: "eu-west-1"
        credentials_secret: "my_aws_secret_with_redshift_creds"
        iam_role: "arn:aws:iam::12345678910:role/my_redshift_role"

  - s3_dev:
      class: S3
      credentials:
        aws_access_key_id: "my_aws_access_key"
        aws_secret_access_key: "my_aws_secret_access_key"
        region_name: "eu-west-1"

  - trino_dev:
      class: Trino
      credentials:
        host: localhost
        port: 8080
        user: "my_username"
        password: "my_password"
        catalog: "my_catalog"
        http_scheme: "http"
        verify: False

  - minio_dev:
      class: MinIO
      credentials:
        endpoint: localhost
        access_key: "my_access_key"
        secret_key: "my_secret_key"
        bucket: my_bucket
        secure: True
        verify: False

  - databricks_dev:
      class: Databricks
      credentials:
        host: your_host
        cluster_id: your_cluster_id
        token: your_token

  - c4c_dev:
      class: CloudForCustomers
      credentials:
        username: your_username
        password: your_password

  - outlook_dev:
      class: Outlook
      credentials:
        client_id: your_client_id
        client_secret: your_client_secret
        tenant_id: your_tenant_id

  - hubspot_dev:
      class: Hubspot
      credentials:
        token: your_api_key

  - mindful_dev:
      class: Mindful
      credentials:
        customer_uuid: your_customer_uuid
        auth_token: your_token
