site_name: Viadot Docs
site_url: "https://dyvenia.github.io/viadot/"
nav:
  - Home: index.md
  - Howtos:
      - "Config File": howtos/config_file.md
      - "Running a task": "howtos/running_tasks.md"
      - Flows: howtos/flows.md 
      - "State handlers": "howtos/state_handlers.md"
      - "Multiple Flows": "howtos/multipleflows.md"
  - Tutorials: 
      - "Adding source": tutorials/adding_source.md
      - "Cloud for customers": tutorials/cloud_for_customers.md
      - "Aselite": tutorials/aselite.md
  - References:
      - "SQL Sources": references/sql_sources.md
      - "API Sources": references/api_sources.md
      - "Flows library": references/flows_library.md
  - Task library: 
      - "Tasks": tasks/task_library.md
      - "Utilities tasks": tasks/taks_utils.md
  - Utilities functions: utils/utils.md
theme:
  name: "material"
  features:
    - navigation.tabs
plugins:
  - search
  - mkdocstrings:
      watch:
        - viadot
      handlers:
        python:
          rendering:
            show_root_heading: yes
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
dev_addr: "0.0.0.0:8000"
