azure-core==1.13.0
azure-storage-blob==12.8.1
black==21.5b0
mkdocs-autorefs==0.1.1
mkdocs-material-extensions==1.0.1
mkdocs-material==7.1.3
mkdocs==1.1.2
mkdocstrings==0.15.0
pandas==1.3.0
prefect==0.14.17
pyarrow==3.0.0
pyodbc==4.0.30
pytest==6.2.4
pytest-cov==2.12.1
requests==2.25.1
openpyxl==3.0.7
jupyterlab==3.0.16
azure-keyvault==4.1.0
azure-identity==1.6.0
great-expectations==0.13.19
matplotlib
adlfs==0.7.6
PyGithub==1.55