azure-core==1.25.0
azure-storage-blob==12.14.0
click==8.0.1
black==21.11b1
mkdocs-autorefs==0.3.0
mkdocs-material-extensions==1.0.3
mkdocs-material==8.0.1
mkdocs==1.2.3
mkdocstrings==0.16.2
pandas==1.3.4
prefect[viz]==0.15.11
pyarrow==6.0.1
pyodbc==4.0.32
pytest==6.2.5
pytest-cov==3.0.0
requests==2.25.0
openpyxl==3.0.9
jupyterlab==3.4.5
azure-keyvault==4.1.0
azure-identity==1.7.1
great-expectations==0.14.12
matplotlib
adlfs==2021.10.0
PyGithub==1.55
Shapely==1.8.0
imagehash==4.2.1
visions==0.7.4
sharepy==1.3.0
simple_salesforce==1.11.5
sql-metadata==2.3.0
duckdb==0.3.2
google-auth==2.6.2
sendgrid==6.9.7
pandas-gbq==0.17.4
pydantic==1.9.0
PyMySQL==1.0.2
paramiko==2.11.0
sshtunnel==0.4.0
databricks-connect==10.4.0b0
O365==2.0.18.1
aiohttp==3.8.1
aiolimiter==1.0.0
protobuf>=3.19.0, <3.20
