# File paths.
TEST_FILE_PATH=
TEST_ADLS_FILE_PATH_PARQUET=
TEST_ADLS_FILE_PATH_CSV=

# Sensitive variables.
VIADOT_TEST_ADLS_AZURE_KEY_VAULT_SECRET=
AZURE_ORG_NAME=
AZURE_PROJECT_NAME=
AZURE_REPO_NAME=
AZURE_REPO_URL=
DBT_REPO_URL=
C4C_API_URL=
VIADOT_TEST_MEDIATOOL_ADLS_AZURE_KEY_VAULT_SECRET=
VIADOT_TEST_MEDIATOOL_ADLS_PATH=
VIADOT_TEST_MEDIATOOL_ORG=
VIADOT_SHAREPOINT_URL=
VIADOT_S3_BUCKET=
LUMA_URL=http://localhost:8000

# Credential secrets.
VIADOT_TEST_SHAREPOINT_CREDENTIALS_SECRET=sharepointsecret
VIADOT_TEST_ADLS_CREDENTIALS_SECRET=sp-adls-test
VIADOT_TEST_DATABRICKS_CREDENTIALS_SECRET=databricks-qa-elt
VIADOT_TEST_C4C_CREDENTIALS_SECRET=aia-c4c-qa

# Config keys.
VIADOT_TEST_EXCHANGE_RATES_CONFIG_KEY=exchange_rates_dev
VIADOT_TEST_REDSHIFT_CONFIG_KEY=redshift_dev
VIADOT_TEST_S3_CONFIG_KEY=s3_dev
VIADOT_TEST_DATABRICKS_CONFIG_KEY=databricks_dev
VIADOT_TEST_SHAREPOINT_CONFIG_KEY=sharepoint_dev
VIADOT_TEST_TRINO_CONFIG_KEY=trino_dev
VIADOT_TEST_MINIO_CONFIG_KEY=minio_dev
VIADOT_TEST_C4C_CONFIG_KEY=c4c_dev
VIADOT_TEST_AWS_CONFIG_KEY=s3_dev
VIADOT_TEST_OUTLOOK_CONFIG_KEY=outlook_dev
VIADOT_TEST_MINDFUL_CONFIG_KEY=mindful_dev
VIADOT_TEST_HUBSPOT_CONFIG_KEY=hubspot_dev
