C4C_API_URL=
VIADOT_SHAREPOINT_URL=
TEST_ADLS_FILE_PATH_PARQUET=
TEST_ADLS_FILE_PATH_CSV=
VIADOT_S3_BUCKET=
VIADOT_REDSHIFT_CONFIG_KEY=
VIADOT_S3_CONFIG_KEY=
VIADOT_DATABRICKS_CONFIG_KEY=
VIADOT_SHAREPOINT_CONFIG_KEY=
VIADOT_TRINO_CONFIG_KEY=
VIADOT_MINIO_CONFIG_KEY=