TEST_FILE_PATH=
AZURE_ORG_NAME=
AZURE_PROJECT_NAME=
AZURE_REPO_NAME=
AZURE_REPO_URL=
AWS_CONFIG_KEY=
LUMA_URL=http://localhost:8000
DBT_REPO_URL=
SHAREPOINT_URL=
VIADOT_TEST_SHAREPOINT_CONFIG_KEY=
VIADOT_TEST_SHAREPOINT_CREDENTIALS_SECRET=sharepointsecret
VIADOT_TEST_EXCHANGE_RATES_CONFIG_KEY=exchange_rates_dev
VIADOT_TEST_ADLS_CREDENTIALS_SECRET=sp-adls-test
VIADOT_TEST_DATABRICKS_CREDENTIALS_SECRET=databricks-qa-elt
VIADOT_TEST_C4C_CREDENTIALS_SECRET=aia-c4c-qa
