version: "3"

services:
  viadot_2:
    image: ghcr.io/dyvenia/viadot/viadot:2.0-latest
    container_name: viadot_2
    volumes:
      # - ${HOME}/.databricks-connect:/home/viadot/.databricks-connect
      # - ${HOME}/.config/viadot/config.yaml:/home/viadot/.config/viadot/config.yaml
      - ../:/home/viadot
    shm_size: '4gb'
    command: sleep infinity
    restart: "unless-stopped"
