version: "3"

services:
  viadot-lite:
    image: ghcr.io/dyvenia/viadot/viadot-lite:latest
    container_name: viadot-lite
    platform: ${PLATFORM:-linux/amd64}
    volumes:
      # - ${HOME}/.databricks-connect:/home/viadot/.databricks-connect
      # - ${HOME}/.config/viadot/config.yaml:/home/viadot/.config/viadot/config.yaml
      - ../:/home/viadot
    shm_size: "4gb"
    entrypoint: sh ./docker/entrypoint.sh
    restart: "unless-stopped"
  viadot-azure:
    image: ghcr.io/dyvenia/viadot/viadot-azure:latest
    container_name: viadot-azure
    platform: ${PLATFORM:-linux/amd64}
    volumes:
      # - ${HOME}/.databricks-connect:/home/viadot/.databricks-connect
      # - ${HOME}/.config/viadot/config.yaml:/home/viadot/.config/viadot/config.yaml
      - ../:/home/viadot
    shm_size: "4gb"
    entrypoint: sh ./docker/entrypoint.sh
    restart: "unless-stopped"
  viadot-aws:
    image: ghcr.io/dyvenia/viadot/viadot-aws:latest
    platform: ${PLATFORM:-linux/amd64}
    container_name: viadot-aws
    volumes:
      # - ${HOME}/.databricks-connect:/home/viadot/.databricks-connect
      # - ${HOME}/.config/viadot/config.yaml:/home/viadot/.config/viadot/config.yaml
      - ../:/home/viadot
    shm_size: "4gb"
    entrypoint: sh ./docker/entrypoint.sh
    restart: "unless-stopped"
