name: deploy_docs

on:
  workflow_dispatch:

jobs:
  publish_docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - run: pip install -r requirements-dev.txt
      - run: pip install -r requirements.txt
      - run: pip install -e .
      - run: mkdocs gh-deploy --force
